--
-- PostgreSQL database dump
--

\restrict 4Hfiqtyu26txylDcqwLiM24om0WgCLWa7PLtUylE27Mvr0S3aBAbxOlgKdpgES8

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: buses; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.buses (
    id bigint NOT NULL,
    model character varying(255),
    license_plate character varying(255)
);


ALTER TABLE public.buses OWNER TO bus_user;

--
-- Name: buses_id_seq; Type: SEQUENCE; Schema: public; Owner: bus_user
--

CREATE SEQUENCE public.buses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.buses_id_seq OWNER TO bus_user;

--
-- Name: buses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bus_user
--

ALTER SEQUENCE public.buses_id_seq OWNED BY public.buses.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    permission character varying(255),
    operation character varying(255)
);


ALTER TABLE public.permissions OWNER TO bus_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: bus_user
--

CREATE SEQUENCE public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO bus_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bus_user
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.role_permissions (
    role_id bigint,
    permission_id bigint
);


ALTER TABLE public.role_permissions OWNER TO bus_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    title character varying(255)
);


ALTER TABLE public.roles OWNER TO bus_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: bus_user
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO bus_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bus_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sensor_data; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.sensor_data (
    id bigint NOT NULL,
    bus_id bigint,
    sensor_type character varying(50),
    value double precision,
    "timestamp" timestamp without time zone,
    anomaly boolean
);


ALTER TABLE public.sensor_data OWNER TO bus_user;

--
-- Name: sensor_data_id_seq; Type: SEQUENCE; Schema: public; Owner: bus_user
--

CREATE SEQUENCE public.sensor_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sensor_data_id_seq OWNER TO bus_user;

--
-- Name: sensor_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bus_user
--

ALTER SEQUENCE public.sensor_data_id_seq OWNED BY public.sensor_data.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.user_roles (
    user_id bigint,
    role_id bigint
);


ALTER TABLE public.user_roles OWNER TO bus_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: bus_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    enabled boolean DEFAULT true
);


ALTER TABLE public.users OWNER TO bus_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: bus_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO bus_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bus_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: buses id; Type: DEFAULT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.buses ALTER COLUMN id SET DEFAULT nextval('public.buses_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: sensor_data id; Type: DEFAULT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.sensor_data ALTER COLUMN id SET DEFAULT nextval('public.sensor_data_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: buses; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.buses (id, model, license_plate) FROM stdin;
1	Mercedes	A123BC
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.permissions (id, permission, operation) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.roles (id, title) FROM stdin;
\.


--
-- Data for Name: sensor_data; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.sensor_data (id, bus_id, sensor_type, value, "timestamp", anomaly) FROM stdin;
1	1	engine_temp	95.5	2026-05-27 15:30:00	f
2	1	engine_temp	95.5	2026-05-27 15:30:00	f
3	1	engine_temp	120	2026-05-27 15:35:00	t
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.user_roles (user_id, role_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: bus_user
--

COPY public.users (id, username, password, enabled) FROM stdin;
3	admin	123	t
4	testuser	123	t
\.


--
-- Name: buses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bus_user
--

SELECT pg_catalog.setval('public.buses_id_seq', 1, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bus_user
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bus_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: sensor_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bus_user
--

SELECT pg_catalog.setval('public.sensor_data_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bus_user
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: buses buses_pkey; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.buses
    ADD CONSTRAINT buses_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sensor_data sensor_data_pkey; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.sensor_data
    ADD CONSTRAINT sensor_data_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: sensor_data sensor_data_bus_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.sensor_data
    ADD CONSTRAINT sensor_data_bus_id_fkey FOREIGN KEY (bus_id) REFERENCES public.buses(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bus_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4Hfiqtyu26txylDcqwLiM24om0WgCLWa7PLtUylE27Mvr0S3aBAbxOlgKdpgES8

